<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Isdone:</b>
  <%= @task.isDone %>
</p>

<p>
  <b>Order:</b>
  <%= @task.order %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
